html {
  scroll-behavior: smooth;
  cursor: none;
  background: #F0F0F3;
}

body {
  margin: 0;
  padding: 40px 60px;
  height: 100vh;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #000000 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 50px;
  border: 9px none #ffffff;
}

.inner-cursor {
  z-index: 999;
  position: fixed;
  left: 10px;
  width: 10px;
  height: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  background: #a5a5a5;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.inner-cursor.grow {
  width: 25px;
  height: 25px;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
}

.outer-cursor {
  z-index: 999;
  position: fixed;
  left: 10px;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid dimgray;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.container {
  text-align: center;
}

.nav-button .menu {
  display: inline-block;
  width: 20px;
  position: relative;
  -webkit-transition: -webkit-transform ease .2s;
  transition: -webkit-transform ease .2s;
  transition: transform ease .2s;
  transition: transform ease .2s, -webkit-transform ease .2s;
}

.nav-button .menu:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 1px;
  width: 2px;
  height: 20px;
  margin-left: -1px;
  background: black;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 50% 20%;
          transform-origin: 50% 20%;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  -webkit-transition-delay: .175s;
          transition-delay: .175s;
}

.nav-button .menu span {
  background: black;
  display: block;
  height: 2px;
  width: 100%;
  margin: 4px 0;
  -webkit-transition: width ease .2s;
  transition: width ease .2s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-button .menu span:last-child {
  width: 70%;
}

.nav-button.active a {
  -webkit-transition-delay: .225s;
          transition-delay: .225s;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.nav-button.active a:before {
  -webkit-transition-delay: .025s;
          transition-delay: .025s;
  -webkit-transform: scale(1);
          transform: scale(1);
  background: #000000;
}

.nav-button.active a span {
  background: #000000;
}

.nav-button.active a span:nth-child(1), .nav-button.active a span:nth-child(3) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 0;
}

.header__button {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0;
  position: absolute;
  right: 0;
  top: -18px;
  margin: 60px;
  outline: none;
  -webkit-animation-duration: 300ms;
          animation-duration: 300ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.header__button[data-open="true"] {
  background-color: white;
  -webkit-animation-name: scale;
          animation-name: scale;
}

.header__button[data-open="false"] {
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.header__nav {
  background-color: #000000;
  position: fixed;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  visibility: hidden;
  -webkit-clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
          clip-path: circle(var(--radius) at calc(100% - 55px) 47px);
}

.header__nav[data-active="true"] {
  visibility: visible;
}

.header__menu {
  padding: 0;
  margin: 0;
}

.header__menu > .header__menu-item {
  font-size: 12vh;
}

.header__menu > .header__menu-item:not(:last-of-type) {
  margin-bottom: 0em;
}

.header__menu-item a {
  cursor: none;
  font-family: 'DM Serif Text', serif;
  letter-spacing: -4px;
  font-weight: 300 !important;
  color: white;
  text-decoration: none;
}

.intro {
  margin-top: 20%;
}

.intro h1 {
  top: 0%;
  font-size: 3rem;
  font-weight: 800;
  font-family: 'DM Serif Text', serif;
  margin-bottom: -60px;
  line-height: 1.3;
}

.intro p {
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: 'Lexend Deca', sans-serif;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 15%;
  margin-left: 13%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentation h1 {
  font-family: 'DM Serif Text', serif;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: -15px;
}

.presentation h2 {
  font-size: 1rem;
  font-weight: 300;
}

.verticaltext {
  position: absolute;
  left: 95%;
  margin-top: -120px;
}

.verticaltext svg {
  margin-left: 8px;
}

.verticaltext a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px auto;
  text-decoration: none;
  color: #000000;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: lowercase;
  font-weight: 300;
  font-family: 'DM Serif Text', serif;
}

.verticaltext a:hover {
  color: #808080;
}

.last-proj-container {
  margin: 10rem auto;
}

.last-proj-container .last-proj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-proj-container .last-proj h2 {
  font-family: 'DM Serif Text', serif;
  font-weight: 800;
  font-size: 40px;
}

.last-proj-container .last-proj svg {
  margin-left: 20px;
}

.last-proj-container .squares {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.last-proj-container .squares .r-more {
  z-index: 2;
  width: 30%;
}

.last-proj-container .squares .r-more a {
  text-decoration: none;
  color: #000000;
}

.last-proj-container .squares .r-more div {
  position: absolute;
  margin: -30px 0px 0px 20px;
  width: 0%;
  height: 1px;
  background-color: #000000;
}

.last-proj-container .squares .r-more .line {
  width: 0%;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.last-proj-container .squares .r-more p {
  position: absolute;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  margin-top: -45px;
  margin-left: 30px;
  opacity: 0%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.last-proj-container .squares .r-more:hover div {
  width: 10%;
}

.last-proj-container .squares .r-more:hover .line {
  -webkit-animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
          animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
}

.last-proj-container .squares .r-more:hover p {
  opacity: 100%;
  -webkit-transform: translate(0px, -10px);
          transform: translate(0px, -10px);
}

.last-proj-container .squares img {
  width: 100%;
  drop-shadow: -8px -8px 24px 0 #FFFFFF 8px 8px 24px 0 #AEAEC0 40%;
}

.dropme {
  margin: 5% 10%;
}

.work-with-us {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "form illustration";
  -ms-grid-columns: 2fr 1.25fr;
      grid-template-columns: 2fr 1.25fr;
  max-width: 1000px;
  background: #BDBDBE;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-with-us h1 {
  font-size: 64px;
  font-weight: 200;
  font-family: 'DM Serif Text', serif;
}

.work-with-us .drop svg {
  position: absolute;
  margin-top: -86px;
  margin-left: 11em;
}

.form {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form;
  padding: 40px 50px;
}

.form label,
.form input,
.form textarea {
  display: block;
  outline: none;
  font-size: 14px;
  width: 80%;
}

@-webkit-keyframes short-press {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes short-press {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.form .hide {
  display: none;
}

.form .submit-button {
  display: block;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: 1px;
  height: 38px;
  width: 120px;
  line-height: 38px;
  overflow: hidden;
  background: transparent;
  border: #000;
  border-width: 0px 0px 1px 0px;
  border-style: none none solid none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: left;
}

.form .submit-button:hover, .form .submit-button:focus {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.form .submit-button.animated {
  -webkit-animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.form .submit-button > span {
  display: block;
  color: black;
}

.form .submit-button > span.pre-state-msg {
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

.form .submit-button.state-1 .pre-state-msg {
  margin-top: -38px;
}

.form .submit-button.state-2 .pre-state-msg {
  margin-top: -76px;
}

.form label {
  border: 0;
  height: 5px;
  line-height: 10px;
  font-weight: 400;
}

.form input {
  border: 0;
  height: 40px;
  background-color: #BDBDBE;
  line-height: 40px;
  border-bottom: 1px solid #000;
  margin-bottom: 40px;
}

.form textarea {
  line-height: 20px;
  border: 1px solid #000;
  margin-bottom: 20px;
  margin-top: 20px;
  resize: none;
  padding: 5px;
  background-color: #BDBDBE;
}

.form input:focus,
.form textarea:focus {
  border-color: #ffffff;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3% 0px 2%;
}

footer .footer-container .links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-container .links a {
  text-decoration: none;
  margin-left: 15px;
  font-weight: 400;
  list-style: none;
  color: #000000;
  font-family: 'DM Serif Text';
}

footer .footer-container .links a:hover {
  color: #808080;
}

footer a {
  text-decoration: none;
  color: #000000;
}

footer a:hover {
  color: #808080;
}

footer i {
  margin-right: 15px;
}
/*# sourceMappingURL=main.css.map */